html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
body {
    font-family: sans-serif;
}
.col-fff{
  color: #fff;
}
.col-blue{
  color:#007ACC;
}
.col-disabled{
  color: rgba(0, 0, 0, 0.25);
}
.col-normal{
  color: rgba(0, 0, 0, 0.65);
}
.bg-fff{
  background-color: #fff;
}
.bg-blue{
  background-color: #007ACC;
}
.ml-5{
  margin-left: 5px
}
.mr-5{
  margin-right: 5px
}
.mr-10{
  margin-right: 10px
}
.mt-5{
  margin-top: 5px
}
.mt-10{
  margin-top: 10px
}
.cursor{
  cursor: pointer;
}
/*HeaderBar*/
.trigger{
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
}
.trigger:hover{
    color: #1890ff;
}
.header-ul{
    display: flex;
    width: 100px;
}
.header-ul li {
    flex-grow: 1;
    text-align: center;
}
.header-ul>li img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.menu{
    line-height: 2em;
    /* padding: 0 10px; */
}
.menu-group li{
    padding: 0 24px;
    line-height: 3em;
    /* border-top: 1px #ccc dashed; */
}
#page .card-item{
    margin-bottom: 10px;
    border-radius: 3px;
    line-height: 2em;
}
#page .card-ul{
    list-style: inside circle;
}
/*美化webkit内核滚动条*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #777;
}
/*首页*/
.container{
  margin: 15px;
}
.index-card{
  display: flex;
  justify-content: space-between;
}
.index-card-footer {
  margin-top: 5px;
}
.index-card-footer .ant-divider-horizontal {
  margin: 5px 0;
}
.index_statics .ant-card-body {
  padding: 0;
}
.index-chart {
  background-color: #007ACC;
  margin: 15px 0;
  height: 300px;
  border-radius: 3px;
}
.index-chart .btn {
  border: 1px #fff solid;
  height: 37px;
  line-height: 37px;
  color: #fff;
}
